<!DOCTYPE html>
<html lang="es">
<head>
	<title>Curriculum Vitae</title>
	<link rel="stylesheet" href="css/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">	

</head>
<body>

	<p><%= data %></p>
</body>
</html>