<!DOCTYPE html>
<html>
  <head>
    <title><Programacion 2></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Isabela Valentina de Jesús Simancas Garcia></p>
    <p>28.408.729></p>
    <p>Sección: 1</p>
  </body>
</html>
