<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login">
        <h1>Inicio de sesión</h1>
        <form method="post">
            <div class="username">
                <input value='' type="text" id="" name="userx" required="true">
                <label>Nombre de usuario</label>
            </div>
            <div class="contraseña">
                <input value='' type="password" id="" name="pasworx" required="true">
                <label>Contraseña</label>
            </div>
            <input type="submit" value="Iniciar">
            <br><br>

        </form>


    </div>

    <h1>Sign in</h1>
<a class="button google" href="/login/federated/google">Sign in with Google</a>


</body>
</html>