body {
	background-image: url(../img/minimalist.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
		margin: 0;
}
.name {
	width: 100%;
	height: 300px;
	background: rgba(83,211,235,0.5);
	transform: skewY(-5deg);
	border: 3px dashed;
}

.name .content {
	width: 50%;
	height: 50%;
	position: absolute;
	left: 25%;
}

.name .content .p-1 {
	color: black;
	font-family: 'Beau Rivage', cursive;
	font-weight: bolder;
	font-size: 65px;
	transform: skewY(5deg);
	margin-bottom: 0; 
}

.name .content .p-2 {
	color: #ffff;
	font-family: 'Cormorant Garamond', serif;
	font-size: 35px;
	transform: skewY(5deg);
	margin-top: 0;
	margin-bottom: 0; 

}

.name .img {
	position: absolute;
	top: 18%;
	right: 5%;
	width: 180px;
	height: 180px;
	border-radius: 100%;
	transform: skewY(5deg);
	overflow: hidden;
	border: solid;
}

.name .img img {
	width: 180px; 
	height: 180px;

}

.name .redes .r1 {
	transform: skewY(5deg);
	display: inline;
}

.name .redes .r2 {
	transform: skewY(5deg);
	display: inline;
}

.name .redes .r3 {
	transform: skewY(5deg);
	display: inline;
}

.info {
	width: 90%;
	height: auto;
	background: rgba(183,169,245,0.5);
	margin: 5% auto;
	padding: 20px;
	border-radius: 20px;
	border: dashed;
}

.info .tituloSeccion {  /*titulo*/ 
	color: black;
	font-family: 'Cormorant Garamond', serif;
	border-bottom: 3px solid;
	font-weight: bolder;
	font-size: 250%;
	text-align: center;
}

.info .tituloInfo { /*nombre apellido*/
	color: black;
	font-family: 'Cormorant Garamond', serif;
	font-weight: bolder;
	font-size: large;
	display: inline;
	margin-right: 10px;
}

.info .infoInfo{  /*info de nombre y apellido*/
	color: #ffff;
	font-family: 'Cormorant Garamond', serif;
	font-weight: normal;
	font-size: large;
	display: inline;
}

.info .tituloInfo {
	color: black;
	font-family: 'Cormorant Garamond', serif;
	font-weight: bolder;
	font-size: large;
	margin-right: 10px;
	display: inline;
}

.info .infoInfo {
	color: #0C0D73;
	font-family: 'Cormorant Garamond', serif;
	font-weight: normal;
	font-size: large;
	display: inline;
}

.info span {
	display: inline-block;
	width: auto;
	height: auto;
	padding-left: 1%; 
	padding-right: 1%;
	background: #60619E;
	color: #ffff;
	font-family: 'Cormorant Garamond', serif;
	border-radius: 5px;
}
header {
    width:300px;
	max-width:300px;
	margin:20px auto;
}
header nav{
    width:300px;
	width:300px;
	background: rgba(0,0,0,0.0);
	overflow:hidden;
}
header nav ul{
	list-style:none;
}
header nav ul {
	float:left;
}
header nav ul a{
	padding: 10px 20px;
	display:block;
	color:black;
	text-decoration:none;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    border-radius: 5%;
    border: black dashed;
    background: rgba(183,169,245);
}
header nav ul li a:hover{
	background: rgba(83,211,235);
}

